.git
.gitignore
.dvc
.dvcignore
dvc.lock
dvc.yaml

.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache

mlruns
mlflow.db
mlflow.db-shm
mlflow.db-wal

data
reports
notebooks
tests

.codex
.vscode
.idea
.DS_Store

models/staging
